
.icon-temperatire:before { content: '\e800'; } /* '' */
.icon-gauge:before { content: '\e801'; } /* '' */
.icon-beaker:before { content: '\e802'; } /* '' */
.icon-crop:before { content: '\e803'; } /* '' */
.icon-location:before { content: '\e804'; } /* '' */
.icon-globe:before { content: '\e805'; } /* '' */
.icon-tint:before { content: '\e806'; } /* '' */
.icon-magnet:before { content: '\e807'; } /* '' */
.icon-hdd:before { content: '\e808'; } /* '' */
.icon-food:before { content: '\e809'; } /* '' */
.icon-exchange:before { content: '\e80a'; } /* '' */
.icon-filter:before { content: '\e80b'; } /* '' */
.icon-chart-line:before { content: '\e80c'; } /* '' */
.icon-light-down:before { content: '\e80d'; } /* '' */
.icon-flash:before { content: '\e80e'; } /* '' */
.icon-flash-1:before { content: '\e80f'; } /* '' */
.icon-shield:before { content: '\e810'; } /* '' */
.icon-lightbulb:before { content: '\e811'; } /* '' */
.icon-bat-charge:before { content: '\e812'; } /* '' */
.icon-resize-horizontal:before { content: '\e813'; } /* '' */
.icon-adjust:before { content: '\e814'; } /* '' */
.icon-sun:before { content: '\e815'; } /* '' */
.icon-sun-inv:before { content: '\e816'; } /* '' */
.icon-target:before { content: '\e817'; } /* '' */
.icon-signal:before { content: '\e818'; } /* '' */
.icon-magnet-1:before { content: '\e819'; } /* '' */
.icon-loop:before { content: '\e81a'; } /* '' */
.icon-tasks:before { content: '\e81b'; } /* '' */
.icon-circle:before { content: '\e81c'; } /* '' */
.icon-gauge-1:before { content: '\e81d'; } /* '' */
.icon-certificate:before { content: '\e81e'; } /* '' */
.icon-asterisk:before { content: '\e81f'; } /* '' */
.icon-windy-inv:before { content: '\e820'; } /* '' */
.icon-clock:before { content: '\e821'; } /* '' */
.icon-flask:before { content: '\e822'; } /* '' */
.icon-anchor:before { content: '\e823'; } /* '' */